* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background-color: #5f7ed485;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #000000bd;
}

nav a {
  color: #fff;
  text-decoration: none;
}
nav ul .name {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2196f3;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 1px 1px 3px 2px #2196f3a1;
}
nav .toggle-container{
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .para{
  margin: 60px;
}