<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>portfolio</title>
  <link rel="stylesheet" href="index.css" />
  <link rel="stylesheet" href="/utility.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />

  <script src="https://kit.fontawesome.com/f320e72acb.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <div class="name">Priyanka</div>

    <div class="links">
      <a href="#top">Home</a>
      <a href="">About</a>
      <a href="">LinkedIn</a>
      <a href="">GitHub</a>
      <a href="">Contact Us</a>
    </div>

    <div class="theme-toggler" id="themeToggler">
      <span class="material-symbols-sharp active" id="lightModeIcon">light_mode</span>
    </div>
  </nav>

  <div class="container">
    <div class="img">
      <img src="/assets/profile-3.jpg " alt="" />
    </div>

    <div class="img-bottom">
      <h5>Hi! I'm Priyanka Saw</h5>
      <h3>Frontend Web Developer</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet vel adipisci qui? Odio suscipit fugit eum.
        Numquam mollitia odit repududantium.
        Loremectetur adipisicing elit. Harum, perspiciatis aliquam.
      </p>
    </div>

    <div class="img-bottom-btn">
      <a href="/components/Contact/" ><button>Contact Me</button></a>
     <a href="" download="/"><button>Resume</button></a>
    </div>

  </div>
</body>
<script src="index.js"></script>

</html>