<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>portfolio</title>
  <link rel="stylesheet" href="index.css" />
  <link rel="stylesheet" href="/utility.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />

  <script src="https://kit.fontawesome.com/f320e72acb.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <div class="name">Priyanka</div>
    <div class="mobile-menu-icon" id="mobile-menu-icon">&#9776;</div>


    <div class="links" id="navLinks">
      <a href="#home" id="#home-link">Home</a>
      <a href="#about" id="#about-link">About</a>
      <a href="https://www.linkedin.com/in/priyanka-saw-3030b6291">LinkedIn</a>
      <a href="#projects" id="projects-link">Projects</a>
      <a href="#contact" id="contact-link">Contact Us</a>

    </div>

    <div class="theme-toggler" id="themeToggler">
      <span class="material-symbols-sharp active" id="lightModeIcon">light_mode</span>
    </div>
  </nav>

  <div class="container">
    <div class="img">
      <img src="/assets/profile-3.jpg " alt="" />
    </div>

    <div class="img-bottom">
      <h5>Hi! I'm Priyanka</h5>
      <h3>Frontend Web Developer</h3>
      <p>
        A self-motivated and quick learner with a strong mindset and a passion for technology. Adept at problem-solving
        and delivering innovative solutions through technical expertise.
      </p>
    </div>

    <div class="img-bottom-btn">
      <a href="#contact" id="contact-link"><button>Contact Me</button></a>
<a href="https://drive.google.com/uc?export=download&id=1HTce_kfZ17iDZ0-OiwvEePXfytFwslmv">
        <button>
          Resume <i class="fa-solid fa-arrow-down-long"></i>
        </button>
      </a>

    </div>
  </div>

  <!-- About Sections -->
  <div id="about" class="about-container scroll">
    <h3>About</h3>

    <div class="about-content">
      <div class="about-container-img">
        <img src="/assets/profile-3.jpg" alt="Profile Image" />
      </div>

      <div class="about-details">
        <div class="about-container-para">
          <p>
            Hello! I'm Priyanka Saw, a tech enthusiast currently pursuing a Bachelor's degree in Computer Applications (BCA). I have hands-on experience with web technologies like HTML, CSS, and JavaScript. I’m excited to start my journey in the IT industry and grow in a professional environment where I can learn new skills and contribute effectively every day.
          </p>
        </div>

        <div class="about-container-card">
          <div class="card card-1">
            <i class="fa-solid fa-code"></i>
            <h4>Language</h4>
            <p>Html Css Javascript Tailwind css & React</p>
          </div>
          <div class="card card-2">
            <i class="fa-solid fa-user-graduate"></i>
            <h4>Education</h4>
            <p>Currently pursuing BCA from Arka Jain University</p>
          </div>
          <div class="card card-3">
            <i class="fa-solid fa-list-check"></i>
            <h4>Projects</h4>
            <p>
              Build 10+ Projects
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Projects sections -->
  <div id="projects" class="project-section scroll">
    <h2>My Selected Projects</h2>
    <p>
      Welcome to my web development portfolio! Explore a collection of projects showcashing my expertise in frontend
      development
    </p>

    <div class="project-section-cards">
      <div class="project" style="background-image: url('https://th.bing.com/th/id/OIP.aksAjO_ocNb6Lnr-_5NeQQHaE8');">
        <div class="inside-project">
          <a href="https://github.com/Priyanka-saw/E-commerce_Dashboard">
            <h3>E-Commerce Dashboard UI</h3>
            <i class="fa-solid fa-circle-arrow-right"></i>
          </a>
        </div>
      </div>

      <div class="project"
        style="background-image: url('https://image.shutterstock.com/z/stock-photo-engineers-are-helping-to-design-work-on-blueprints-and-collaborate-on-structural-analyzing-of-1724713963.jpg');">
        <div class="inside-project">
          <a href="https://github.com/Priyanka-saw/Productivity-tools/tree/main/Task_Schedular">
            <h3>Task Schedular</h3>
            <i class="fa-solid fa-circle-arrow-right"></i>
          </a>
        </div>  
      </div>

      <div class="project"
        style="background-image: url('https://th.bing.com/th/id/OIP.Nog6h5toUGDPT6nETm-KfAHaEK?rs=1&pid=ImgDetMain&cb=idpwebpc2');">
        <div class="inside-project">
          <a href="https://github.com/Priyanka-saw/Text_Voice_Convertor/tree/main/Text_VoiceConverter">

            <h3>Text Voice Convertor</h3>
            <i class="fa-solid fa-circle-arrow-right"></i>

          </a>
        </div>
      </div>

      <div class="project"
        style="background-image: url('https://th.bing.com/th/id/OIP.DO-bmgb0VKAuRW8ppXsyMwHaEK?pid=ImgDet&w=474&h=266&rs=1&cb=idpwebpc2');">
        <div class="inside-project">
          <a href="https://github.com/Priyanka-saw/Mini_Projects/tree/main/Mini_Project">

            <h3>Mini Game Exposer</h3>
            <i class="fa-solid fa-circle-arrow-right"></i>

          </a>
        </div>
      </div>
    </div>
  </div>

  <!--GET IN TOUCH -->
  <section class="get-in-touch scroll" id="contact">
    <h2>Get in Touch</h2>
    <p>I’m always open to new opportunities, collaborations, or just a friendly hello.</p>

    <form class="contact-form" action="https://formspree.io/f/xdkzbngp" method="POST">
      <input type="text" name="name" placeholder="Your Name" required>
      <input type="email" name="email" placeholder="Your Email" required>
      <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
      <button type="submit">Send Message</button>
    </form>
  </section>



  <!-- Footer -->
  <footer>
    <div class="footer-container-link">
      <ul type="none">
        <a href="mailto:priyankasaw51@gmail.com">
          <li><i class="fa-solid fa-envelope fa-beat"></i></li>
        </a>
        <a href="https://www.linkedin.com/in/priyanka-saw-3030b6291">
          <li><i class="fa-brands fa-linkedin fa-beat"></i></li>
        </a>
        <a href="https://github.com/Priyanka-saw">
          <li><i class="fa-brands fa-github fa-beat"></i></li>
        </a>
      </ul>

      <div class="footer-container-para">
        <p>&copy; 2025 Priyanka saw | All rights are reserved.</p>
      </div>
      <div class="footer-container-contact"></div>
    </div>
  </footer>
</body>
<script src="index.js"></script>

</html>