<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>portfolio</title>
  <link rel="stylesheet" href="index.css" />
  <link rel="stylesheet" href="/utility.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />

  <script src="https://kit.fontawesome.com/f320e72acb.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <div class="name">Priyanka</div>

    <div class="links">
      <a href="#top">Home</a>
      <a href="">About</a>
      <a href="">LinkedIn</a>
      <a href="">Projects</a>
      <a href="">Contact Us</a>
    </div>

    <div class="theme-toggler" id="themeToggler">
      <span class="material-symbols-sharp active" id="lightModeIcon">light_mode</span>
    </div>
  </nav>

  <div class="container">
    <div class="img">
      <img src="/assets/profile-3.jpg " alt="" />
    </div>

    <div class="img-bottom">
      <h5>Hi! I'm Priyanka Saw</h5>
      <h3>Frontend Web Developer</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet vel
        adipisci qui? Odio suscipit fugit eum. Numquam mollitia odit
        repududantium. Loremectetur adipisicing elit. Harum, perspiciatis
        aliquam.
      </p>
    </div>

    <div class="img-bottom-btn">
      <a href="/components/Contact/"><button>Contact Me</button></a>
      <a href=""
        download="https://docs.google.com/document/d/1TVXR_SHNEJ5OW_nqEhtrJpE42WFTkqWz/edit?usp=drivesdk&ouid=102123006111762657358&rtpof=true&sd=true "><button>Resume
          <i class="fa-solid fa-arrow-down-long"></i></button></a>
    </div>
  </div>

  <!-- About Sections -->
  <div class="about-container">
    <h3>About</h3>

    <div class="about-content">
      <div class="about-container-img">
        <img src="/assets/profile-3.jpg" alt="Profile Image" />
      </div>

      <div class="about-details">
        <div class="about-container-para">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
            cupiditate exercitationem. Repudiandae, natus. Harum odio,
            repellat aspernatur optio velit magni voluptates deleniti. Magni.
          </p>
        </div>

        <div class="about-container-card">
          <div class="card">
            <i class="fa-solid fa-code"></i>
            <h4>Language</h4>
            <p>Html Css Javascript Tailwind & React</p>
          </div>
          <div class="card">
            <i class="fa-solid fa-user-graduate"></i>
            <h4>Education</h4>
            <p>Currently pursuing BCA from Arka Jain University</p>
          </div>
          <div class="card">
            <i class="fa-solid fa-list-check"></i>
            <h4>Projects</h4>
            <p>
              Build some frontend projects & in some projects working on it
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Projects sections -->
  <div class="project-section">
    <h2>My Projects</h2>
    <p>Welcome to my web development portfolio! Explore a collection of projects showcashing my expertise in frontend
      development</p>

    <div class="project-section-cards">
      <div class="project" style="background-image: url('https://th.bing.com/th/id/OIP.aksAjO_ocNb6Lnr-_5NeQQHaE8');">
        <div class="inside-project">
          <a href="">
            <h3>Portfolio Website</h3>
            <i class="fa-solid fa-circle-arrow-right"></i>
          </a>
        </div>
      </div>

      <div class="project"
        style="background-image: url('https://image.shutterstock.com/z/stock-photo-engineers-are-helping-to-design-work-on-blueprints-and-collaborate-on-structural-analyzing-of-1724713963.jpg');">
        <div class="inside-project">
          <a href="">
            <h3>Login/Signup Page</h3>
            <i class="fa-solid fa-circle-arrow-right"></i>
          </a>
        </div>
      </div>

      <div class="project"
        style="background-image: url('https://th.bing.com/th/id/OIP.Nog6h5toUGDPT6nETm-KfAHaEK?rs=1&pid=ImgDetMain&cb=idpwebpc2');">
        <div class="inside-project">
          <a href="">

            <h3>Dashboard UI</h3>
            <i class="fa-solid fa-circle-arrow-right"></i>

          </a>
        </div>
      </div>

      <div class="project"
        style="background-image: url('https://th.bing.com/th/id/OIP.DO-bmgb0VKAuRW8ppXsyMwHaEK?pid=ImgDet&w=474&h=266&rs=1&cb=idpwebpc2');">
        <div class="inside-project">
          <a href="">

            <h3>To-Do App</h3>
            <i class="fa-solid fa-circle-arrow-right"></i>

          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="footer-container-link">
      <ul type="none">
        <a href="/components/Main/">
          <li><i class="fa-solid fa-house fa-beat"></i></li>
        </a>
        <a href="https://www.linkedin.com/in/priyanka-saw-3030b6291">
          <li><i class="fa-brands fa-linkedin fa-beat"></i></li>
        </a>
        <a href="https://github.com/Priyanka-saw">
          <li><i class="fa-brands fa-github fa-beat"></i></li>
        </a>
      </ul>

      <div class="footer-container-para">
        <p>&copy; 2025 Priyanka saw | All rights are reserved.</p>
      </div>
      <div class="footer-container-contact"></div>
    </div>
  </footer>
</body>
<script src="index.js"></script>

</html>